<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Recipes</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            quaerat, quam, dolores, voluptate, quisquam, reiciendis, ipsum
            voluptates, quaerat, quibusdam, doloremque, voluptate, ipsam
            doloremque, quaerat, quibusdam, doloremque, voluptate, ipsam
            doloremque, quaerat, quibusdam, doloremque, voluptate, ipsam
            dolorum, quaerat, quibusdam, doloremque, voluptate, ipsam
            doloremque, quaerat, quibusdam, doloremque, voluptate, ipsam
            doloribus, quaerat, quibusdam, doloremque, voluptate, ipsam
            doloremque, quaerat, quibusdam, doloremque, voluptate, ipsam dolor,
            quaerat, quibusdam, doloremque, voluptate, ipsam doloremque,
            quaerat, quibusdam, doloremque, voluptate, ipsam dolore, quaerat,
            quibusdam, doloremque, voluptate, ipsam doloremque, quaerat,
            quibusdam, doloremque, voluptate, ipsam delectus, quaerat,
            quibusdam, doloremque, voluptate, ipsam doloremque, quaerat,
            quibusdam, doloremque, voluptate, ipsam ducimus, quaerat, quibusdam,
            doloremque, voluptate, ipsam doloremque, quaerat, quibusdam,
            doloremque, voluptate, ipsam eaque, quaerat, quibusdam, doloremque,
            voluptate, ipsam
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
